{
  "extends": ["stylelint-config-recommended-scss"],
  "rules": {
    "selector-class-pattern": "^[a-z]([a-z0-9-]*)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+)?$",
    "block-no-empty": true,
    "declaration-block-single-line-max-declarations": 1,
    "selector-no-qualifying-type": true,
    "selector-max-specificity": "0,2,0"
  }
}
