@use "../variables" as v;

@layer base, components;

@layer base {
  .speakers {
    container-type: inline-size;
    container-name: speakers-main;
  }
}

@layer components {
  .speakers {
    padding-inline: 1.5rem;
    padding-block: 3rem;

    @media (min-width: 1300px) {
      padding-inline: 10%;
    }

    &__title {
      font-size: 2rem;
      color: v.$color-dark;
      margin-bottom: 0.5rem;

      @media (min-width: 768px) {
        text-align: center;
      }
    }

    &__grid {
      container-type: inline-size;
      container-name: speakers-grid;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      margin: 2.5rem 0;
    }

    &__card {
      border-color: black;
      border-radius: v.$border-radius;
      flex: 0 1 100%;

      @container speakers-grid (min-width: 480px) {
        flex: 0 1 calc(50% - 1rem);
      }

      @container speakers-grid (min-width: 760px) {
        flex: 0 1 calc(33.333% - 1.5rem);
      }
    }

    &__card-badge {
      margin-left: 0.3rem;
      margin-bottom: 0.25rem;
      padding: 0.5rem;
    }

    &__card-img {
      aspect-ratio: 5 / 3;
      object-fit: cover;
    }

    &__card-name {
      text-align: center;
    }

    &__card-text {
      text-align: center;
    }
  }
}
