<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss" />
    <link rel="icon" href="../assets/images/icon.svg" />
    <title>Articulo de las jornadas</title>
  </head>
  <body>
    <include src="views/header.html"></include>
    <main class="article">
      <header class="article__hero">
        <h1 class="article__title">
          Introducción a las jornadas artesanas de 2026
        </h1>
        <p class="article__author">Por Xavier Real · 15 de abril de 2026</p>
      </header>

      <div class="article__container">
        <div class="alert alert-primary article__alert" role="alert">
          <i class="fa-solid fa-circle-info"></i>
          Las inscripciones están abiertas hasta el 30 de abril de 2026.
          <a href="inscription-form.html" class="alert-link"
            >Inscribete aquí.</a
          >
        </div>

        <div class="article__intro">
          <blockquote class="article__blockquote">
            <p>
              El objeto artesanal satisface una necesidad no menos imperiosa que
              la sed y el hambre: la necesidad de recrearse con las cosas que
              vemos y tocamos, cualesquiera que sean sus usos diarios.
            </p>
            <cite class="article__blockquote-cite">— Octavio Paz</cite>
          </blockquote>
          <div class="article__intro-text">
            <p>
              Las Jornadas Artesanas 2026 son una iniciativa para crear un
              espacio de encuentro para todos aquellos que se sienten
              interesados y con pasión por los oficios tradicionales y la
              fabricación artesanal. Durante los tres días de las jornadas, se
              podrá aprender, compartir y crear todo lo relacionado con la
              artesanía.
            </p>
            <p>
              Entre los diferentes tópicos que se tocarán en las jornadas se
              encuentran la cerámica, relojería, el diseño textil y la
              carpintería. Se han seleccionado seis maestros artesanos que
              compartirán sus conocimientos en talleres prácticos y ponencias
              abiertas al público.
            </p>
          </div>
        </div>

        <hr class="article__divider" />

        <section class="article__section">
          <h2 class="article__section-title">¿Qué se recomienda traer?</h2>
          <p>
            Cada taller tiene sus características, pero hay una serie de
            materiales que se recomienda traer a todos los participantes para
            tener una experiencia óptima. También se puede comprar dicho
            material dentro del evento.
          </p>
          <ol class="article__list">
            <li class="article__list-item">
              <strong>Ropa cómoda</strong>
              <p>
                Es importante que la ropa se pueda manchar. En algunos talleres
                se trabaja con barro, pintura o aceites que pueden echar a
                perder la ropa.
              </p>
            </li>
            <li class="article__list-item">
              <strong>Libreta y bolígrafo</strong>
              <p>
                Para realizar apuntes de los eventos, como técnicas,
                proporciones o consejos que se compartan.
              </p>
            </li>
            <li class="article__list-item">
              <strong>Guantes de trabajo</strong>
              <p>
                Para proteger las manos durante el transcurso de los eventos
                donde se trabaja con herramientas y materiales que puedan tener
                algo de peligro al usarlos.
              </p>
            </li>
          </ol>
          <p>
            Si tienes herramientas propias relacionadas con el taller escogido,
            puedes traerlas. No limitamos a los atendientes a las herramientas
            que disponemos, sino que animamos a que traigan las suyas para poder
            dar mejores consejos y enseñarlos de manera más auténtica.
          </p>
          <figure class="article__figure article__figure">
            <img
              src="../assets/images/article-img2.webp"
              alt="Varias pinturas con pinceles de un taller"
              class="article__figure-img"
            />
            <figcaption class="article__figcaption">
              Material del taller
            </figcaption>
          </figure>
        </section>

        <hr class="article__divider" />

        <section class="article__section">
          <h2 class="article__section-title">Un espacio para la creatividad</h2>
          <p>
            Las jornadas son mucho más que un conjunto de talleres. Es una
            entrada para poder conectar con una comunidad de personas que
            comparten un sector muy amplio y con mucha cultura.
          </p>
          <p>
            En un mundo donde la producción en masa está al alza, aprender un
            oficio artesanal es un acto de resistencia. Ya seas una persona que
            quiera iniciarse en el mundillo o un artesano experimentado, estas
            jornadas tienen algo para ti.
          </p>
        </section>

        <figure class="article__figure article__figure">
          <img
            src="../assets/images/article-img3.webp"
            alt="Taller donde se realizarán actividades"
            class="article__figure-img"
          />
          <figcaption class="article__figcaption">
            Una de las salas donde se realizará un taller
          </figcaption>
        </figure>

        <section class="article__section">
          <p>
            Las plazas son limitadas para garantizar una experiencia óptima, así
            que se recomienda inscribirse cuanto antes para asegurar la
            participación en el taller que deseas.
          </p>
        </section>
      </div>
    </main>
    <include src="views/footer.html"></include>
    <script type="module" src="../assets/scripts/main.js"></script>
  </body>
</html>
