<nav class="navbar navbar-expand-md header__nav">
  <div class="container-fluid header__inner">
    <a class="navbar-brand header__logo" href="./index.html">
      <i class="fa-solid fa-hands-holding header__logo-icon"></i>
      <span class="header__logo-text">Jornadas Artesanas</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto header__nav-list">
        <li class="nav-item header__nav-item">
          <a class="nav-link header__nav-link" href="./speakers.html"
            >Ponentes</a
          >
        </li>
        <li class="nav-item header__nav-item">
          <a class="nav-link header__nav-link" href="./article.html"
            >Artículo</a
          >
        </li>
        <li class="nav-item header__nav-item">
          <a class="nav-link header__nav-link" href="./inscription-form.html"
            >Inscripción</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
