<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss" />
    <link rel="icon" href="../assets/images/icon.svg" />
    <title>Inicio</title>
  </head>
  <body>
    <include src="views/header.html"></include>
    <main class="index">
      <div class="index__image">
        <img
          src="../assets/images/comic.webp"
          alt="Jornadas Artesanas portada"
        />
      </div>
      <h1 class="index__title">Jornadas artesanas</h1>
      <p class="index__details">
        Un lugar de encuentro para los amantes de la artesania y aquellos que
        deseen adentrarse en el mundillo. Talleres, charlas y cultura.
      </p>
      <div class="index__info">
        <p class="index__info-text">15-18 de mayo, 2026</p>
        <p class="index__info-loc">Carrer del sol - Barcelona</p>
      </div>
      <hr class="index__separator" />
      <a href="inscription-form.html" class="index__button btn btn-primary">
        Inscribete a las jornadas ->
      </a>

      <p class="index__vertical">Artesania · Creatividad · Cultura</p>
    </main>
    <include src="views/footer.html"></include>
    <script type="module" src="../assets/scripts/main.js"></script>
  </body>
</html>
