<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss" />
    <link rel="icon" href="../assets/images/icon.svg" />
    <title>Listado de ponentes</title>
  </head>
  <body>
    <include src="views/header.html"></include>
    <main class="speakers">
      <h1 class="speakers__title">Listado de ponentes</h1>

      <div class="speakers__grid">
        <article class="card speakers__card">
          <img
            src="../assets/images/speaker1.webp"
            class="card-img-top speakers__card-img"
            alt="Imagen de Alessandro Rossi"
          />
          <div class="card-body speakers__card-body">
            <h5 class="card-title speakers__card-name">
              Alessandro Rossi
              <span class="badge text-bg-primary speakers__card-badge"
                >Encuadernación</span
              >
            </h5>
            <p class="card-text speakers__card-text">
              Experto en restauración de libros antiguos y encuadernación
              artesanal con piel.
            </p>
          </div>
        </article>
        <article class="speakers__card card">
          <img
            src="../assets/images/Speaker2.webp"
            class="card-img-top speakers__card-img"
            alt="Imagen de Pedro Rodriguez"
          />
          <div class="card-body speakers__card-body">
            <h5 class="card-title speakers__card-name">
              Pedro Rodriguez
              <span class="badge text-bg-primary speakers__card-badge"
                >Relojería</span
              >
            </h5>
            <p class="card-text speakers__card-text">
              Especialista en micromecánica y restauración de relojes de todo
              tipo.
            </p>
          </div>
        </article>
        <article class="card speakers__card">
          <img
            src="../assets/images/Speaker3.webp"
            class="card-img-top speakers__card-img"
            alt="Imagen de Mei Lin"
          />
          <div class="card-body speakers__card-body">
            <h5 class="card-title speakers__card-name">
              Mei Lin
              <span class="badge text-bg-primary speakers__card-badge"
                >Cerámica Oriental</span
              >
            </h5>
            <p class="card-text speakers__card-text">
              Artesana especializada en técnicas tradicionales de cerámica
              oriental y decoración.
            </p>
          </div>
        </article>
        <article class="card speakers__card">
          <img
            src="../assets/images/Speaker4.webp"
            class="card-img-top speakers__card-img"
            alt="Imagen de Ricardo Murillo"
          />
          <div class="card-body speakers__card-body">
            <h5 class="card-title speakers__card-name">
              Ricardo Murillo
              <span class="badge text-bg-primary speakers__card-badge"
                >Carpintería</span
              >
            </h5>
            <p class="card-text speakers__card-text">
              Carpintero con años de experiencia especializado en mobiliario
              rústico.
            </p>
          </div>
        </article>
        <article class="card speakers__card">
          <img
            src="../assets/images/Speaker5.webp"
            class="card-img-top speakers__card-img"
            alt="Imagen de Dimitri Valls"
          />
          <div class="card-body speakers__card-body">
            <h5 class="card-title speakers__card-name">
              Dimitri Valls
              <span class="badge text-bg-primary speakers__card-badge"
                >Alfarería</span
              >
            </h5>
            <p class="card-text speakers__card-text">
              Maestro alfarero con taller propio desde hace 20 años,
              especializado en piezas creadas con técnicas tradicionales y
              acabados artesanales.
            </p>
          </div>
        </article>
        <article class="card speakers__card">
          <img
            src="../assets/images/Speaker6.webp"
            class="card-img-top speakers__card-img"
            alt="Imagen de Marta Torres"
          />
          <div class="card-body speakers__card-body">
            <h5 class="card-title speakers__card-name">
              Marta Torres
              <span class="badge text-bg-primary speakers__card-badge"
                >Diseño Textil</span
              >
            </h5>
            <p class="card-text speakers__card-text">
              Diseñadora textil enfocada en tejidos sostenibles y técnicas de
              telar manual con fibras orgánicas.
            </p>
          </div>
        </article>
      </div>
    </main>
    <include src="views/footer.html"></include>
    <script type="module" src="../assets/scripts/main.js"></script>
  </body>
</html>
